<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="world_name" default="target_tracking"/>
	<arg name="world_file" default="$(find hawkeye)/worlds/$(arg world_name).world"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(arg world_file)"/>
		<arg name="verbose" value="true"/>
	</include>

	<!--mavlink-->
	<include file="$(find mavros)/launch/px4.launch">
		<arg name="fcu_url" value="udp://:14540@192.168.1.36:14557"/>
	</include>

	<node pkg="hawkeye" type="px4_mavros_offboard" name="hawkeye_px4_mavros_offboard_node"/>
	<node pkg="hawkeye" type="target_estimator_3d" name="hawkeye_target_estimator_3d_node"/>
	<node pkg="hawkeye" type="target_gt" name="hawkeye_target_gt_node"/>
	<node pkg="hawkeye" type="tf_broadcaster" name="hawkeye_tf_broadcaster_node"/>
	<node pkg="tf2_ros" type="static_transform_publisher" name="tf_camera_broadcaster"
		  args="0 0 0 0 0.38267273 0 0.92388396 map camera"/>
	<!--	rosrun tf static_transform_publisher 0 0 0 0 0.38267273 0 0.92388396 map camera 1000-->
</launch>
